/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 1rem 2rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.twitterButton,
.githubButton {
  margin: 0.2rem;
  display: inline;
}

.socialButtons {
  text-align: end;
}

.socialButtonsLink {
  margin: 0 0.5rem;
  padding: 0.2rem 0.5rem;
}

.pink {
  color: #63c5e3;
  font-weight: bold;
}
.backgroundSecondary {
  background-color: var(--ifm-color-primary-dark);
}
.colorWhite {
  color: #FFF;
}

.lottieFallback {
  width: 100%;
  height: 480px;
}

.emailInput {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
