<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Glasskube</title>
    <link type="text/css" rel="stylesheet" href="/static/bundle/index.min.css" />
    <script src="/static/bundle/index.min.js"></script>
    <script type="text/javascript">
      // htmx.logAll();
    </script>
  </head>

  <body hx-ext="ws,response-targets" ws-connect="/ws" hx-indicator="#indicator" hx-target-error="#error-container">
    <nav hx-boost="true" class="navbar navbar-expand-lg navbar-dark bg-secondary">
      <div id="indicator" class="progress-container bg-transparent w-100 position-fixed top-0 start-0">
        <div class="htmx-indicator progress-bar bg-primary h-100 w-100"></div>
      </div>

      <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
          <img src="/static/assets/glasskube-logo.svg" alt="Logo" height="32" width="32" />
          <h1 class="navbar-brand text-white mx-1 my-0">Glasskube</h1>
        </a>

        <ul class="navbar-nav">
          <li class="nav-item mx-1">
            <a class="nav-link active" href="/packages"> Packages </a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link disabled">Apps</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link disabled">Settings</a>
          </li>
        </ul>

        <div class="navbar-collapse">
          <ul class="navbar-nav ms-auto align-items-center gap-1">
            {{ if .CurrentContext }}
              <li class="nav-item">
                <span class="nav-link">Context: {{ .CurrentContext }}</span>
              </li>
            {{ end }}
            <li class="nav-item">
              <a class="cta cta-sm text-white" href="https://github.com/glasskube/glasskube" target="_blank">
                <span class="bi bi-github"></span>
                Star us
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>    
    <main id="main">
      <div id="ws-error-container" class="visually-hidden container-lg mt-2">
        <div class="alert alert-danger" role="alert" id="ws-error-container-message"></div>
      </div>

      <div id="error-container" class="container-lg mt-2">
        {{ if .Error }}
          {{ template "alert" .Error "danger" | ForAlert }}
        {{ end }}
        {{ if .VersionMismatchWarning }}
          {{ template "version-mismatch-warning" .VersionDetails }}
        {{ end }}
      </div>

      {{ template "body" . }}
    </main>

    <div class="modal" id="modal-container" tabindex="-1" style="display: none" aria-hidden="false">
      <div class="modal-dialog" role="document"></div>
    </div>
    <script>
      (() => {
        const getColorSchemeQuery = () => window.matchMedia('(prefers-color-scheme: dark)');
        const getPreferredTheme = () => (getColorSchemeQuery().matches ? 'dark' : 'light');
        const setPreferredTheme = () => document.body.setAttribute('data-bs-theme', getPreferredTheme());
        setPreferredTheme();
        getColorSchemeQuery().addEventListener('change', () => setPreferredTheme());
      })();
    </script>
    <script>
      var wsOnline = true;
      document.addEventListener('htmx:wsClose', function () {
        wsOnline = false;
        document.getElementById('ws-error-container').classList.remove('visually-hidden');
        document.getElementById('ws-error-container-message').innerHTML =
          'You are disconnected from the server. Make sure to run <code>glasskube serve</code> and refresh this page!';
      });
      document.addEventListener('htmx:wsOpen', function () {
        if (!wsOnline) {
          wsOnline = true;
          const msg = document.getElementById('ws-error-container-message');
          msg.innerText =
            'You have been disconnected for a while. Please refresh this page to make sure you are up to date!';
        }
      });
    </script>
    <footer class="footer py-3 position-fixed bottom-0 w-100" style="background-color: #cccccc4a;">
      <div class="container text-center">
        <span class="text-muted">Glasskube Version: {{ .VersionDetails.OperatorVersion }}</span>
        <br>
        {{ if .VersionDetails.NeedsOperatorUpdate }}
            <span class="text-danger">New version available! ({{ .VersionDetails.ClientVersion }})</span>
        {{ else }}
            <span class="text-success">Up to date</span>
        {{ end }}
    </div>
    </footer>
  </body>
</html>
