/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import "@fontsource/inter/latin-300.css";
@import "@fontsource/inter/latin-400.css";
@import "@fontsource/inter/latin-600.css";
@import "@fontsource/inter/latin-700.css";
@import "@fontsource/poppins/latin-600.css";


/* You can override the default Infima variables here. */
:root {
  --glasskube-main-1: #0c263b;
  --glasskube-main-2: #174c76;
  --glasskube-main-3: #00b5eb;
  --glasskube-main-4: #63c5e3;
  --glasskube-main-light: #ebf8fb;
  --glasskube-grey-0: #101010;
  --glasskube-grey-7: #fbfbfb;
  --glasskube-red: #ff4136;
  --glasskube-pink: #e03466;

  --glasskube-background-dark: #0f1a24;
  --glasskube-surface-dark: #1f2933;

  --ifm-color-primary: var(--glasskube-main-2);
  --ifm-color-primary-dark: var(--glasskube-main-2);
  --ifm-color-primary-darker: var(--glasskube-main-2);
  --ifm-color-primary-darkest: var(--glasskube-main-1);
  --ifm-color-primary-light: var(--glasskube-main-4);
  --ifm-color-primary-lighter: var(--glasskube-main-4);
  --ifm-color-primary-lightest: var(--glasskube-main-4);
  --ifm-code-font-size: 95%;
  --ifm-font-color-base: var(--glasskube-grey-0);
  --ifm-heading-h1-font-size: 3rem;
  --ifm-pre-background: rgba(255, 255, 255, 0.1);
  --ifm-menu-color-background-active: var(--glasskube-main-light);
  --ifm-font-family-base: Inter, system-ui, sans-serif;
  --ifm-heading-font-family: Poppins, Inter, system-ui, sans-serif;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}


@media (min-width: 997px) {
  :root {
    --docusaurus-announcement-bar-height: auto !important;
  }
}

.footer--dark {
  --ifm-footer-background-color: var(--glasskube-main-1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: var(--glasskube-main-4);
  --ifm-color-primary-dark: var(--glasskube-main-2);
  --ifm-color-primary-darker: var(--glasskube-main-2);
  --ifm-color-primary-darkest: var(--glasskube-main-1);
  --ifm-color-primary-light: var(--glasskube-main-4);
  --ifm-color-primary-lighter: var(--glasskube-main-4);
  --ifm-color-primary-lightest: var(--glasskube-main-4);
  --ifm-font-color-base: var(--glasskube-main-light);
  --ifm-menu-color-background-active: var(--glasskube-main-2);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

html[data-theme='dark'] {
  --ifm-background-color: var(--glasskube-background-dark);
  --ifm-background-surface-color: var(--glasskube-surface-dark);
}

[data-theme='dark'] .hero--primary {
  /*--ifm-hero-background-color: var(--ifm-color-primary-darker);*/
  /*--ifm-hero-text-color: var(--ifm-font-color-base);*/
  --ifm-hero-background-color: var(--ifm-color-base);
}

div[class^='announcementBar_'] {
  color: var(--ifm-font-color-base);
  background: linear-gradient(60deg, var(--glasskube-main-3), var(--glasskube-pink));
  font-weight: var(--ifm-font-weight-bold);
}

@media (min-width: 997px) {
  div[class^='announcementBar_'] {
    font-size: 1.25rem;
  }
}

.hero__title {
  font-size: 1.25rem;
}

@media (min-width: 997px) {
  .hero__title {
    font-size: 1.6rem;
  }
}

.hero__title > pre {
  white-space: normal;
  height: 4.6em;
  margin: 0;
}

@media (min-width: 997px) {
  .hero__title > pre {
    white-space: unset;
    height: auto;
  }
}

.hero__subtitle {
  font-size: 1rem;
}

@media (min-width: 997px) {
  .hero__subtitle {
    font-size: 1.3rem;
  }
}

a.button--outline.light, .light {
  color: var(--glasskube-main-light);
}


.typewriter-command {
  color: var(--glasskube-main-4);

}

.typewriter-argument {
  color: var(--glasskube-main-3);
  font-weight: var(--ifm-font-weight-bold);
}

.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.footer-logo {
  width: 250px;
  margin: 1rem;
}

@media (min-width: 997px) {
  .footer-logo {
    margin: 2rem;
  }
}

.button.button--accent {
  background-color: var(--glasskube-pink);
  color: var(--glasskube-main-light);
}

.button.button--outline {
  position: relative;
  color: var(--ifm-navbar-link-color);
}

.button.button--outline::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  border: 3px solid transparent;
  background: linear-gradient(to right, var(--glasskube-main-3), var(--glasskube-pink)) border-box;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

h1 {
  font-size: 3rem;
  background: linear-gradient(60deg, var(--glasskube-main-3), var(--glasskube-pink));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  padding-bottom: 5px;
}

canary-root {
  --canary-color-primary-c: 0.08;
  --canary-color-primary-h: 250;
}
canary-trigger-searchbar::part(button) {
  background-color: var(--ifm-color-emphasis-100);
}
canary-trigger-searchbar::part(kbd) {
  background-color: var(--ifm-color-emphasis-200);
}
