/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #174c76;
  --ifm-color-primary-dark: #174c76;
  --ifm-color-primary-darker: #174c76;
  --ifm-color-primary-darkest: #0c263b;
  --ifm-color-primary-light: #63c5e3;
  --ifm-color-primary-lighter: #63c5e3;
  --ifm-color-primary-lightest: #63c5e3;
  --ifm-code-font-size: 95%;
  --ifm-font-color-base: #101010;
  /* --ifm-menu-color: #101010; */
  --ifm-menu-color-background-active: #ebf8fb;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

}

.footer--dark {
  --ifm-footer-background-color: #0c263b;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #63c5e3;
  --ifm-color-primary-dark: #174c76;
  --ifm-color-primary-darker: #174c76;
  --ifm-color-primary-darkest: #0c263b;
  --ifm-color-primary-light: #63c5e3;
  --ifm-color-primary-lighter: #63c5e3;
  --ifm-color-primary-lightest: #63c5e3;
  --ifm-font-color-base: #ebf8fb;
  --ifm-menu-color-background-active: #174c76;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

[data-theme='dark'] .hero--primary {
  --ifm-hero-background-color: var(--ifm-color-primary-darker);
  --ifm-hero-text-color: var(--ifm-font-color-base);
}
