.postCard {
    height: 100%;
    text-decoration: none;
  }
  
  a.postLink {
    text-decoration: none !important;
    border: 1px solid transparent;
    border-radius: var(--ifm-card-border-radius);
    /* color: #fff; */
  }
  
  a.postLink:hover {
    border: 1px solid #605e5c;
  }
  
  .postCardHeader {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-grow: 1;
  }
  
  .postCardBottom {
    margin-top: auto;
    display: flex;
  }
  
  .readMore {
    margin-left: auto;
    align-self: flex-end;
  }