.postCard {
    height: 100%;
    text-decoration: none;
  }
  
  a.postLink {
    text-decoration: none !important;
    border: 1px solid transparent;
    border-radius: var(--ifm-card-border-radius);
    /* color: #fff; */
  }
  
  a.postLink:hover {
    border: 1px solid #605e5c;
  }
  
  .postCardHeader {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-grow: 1;
  }
  
  .postCardBottom {
    margin-top: auto;
    display: flex;
  }
  
  .readMore {
    margin-left: auto;
    align-self: flex-end;
  }

  .postImage {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
  }
  
  .postImage {
    aspect-ratio: 16 / 9;
  }

  @media (min-width: 1024px) {
    .postImage {
      aspect-ratio: 7/3;
      object-fit: cover;
    }
  }

  @media (max-width: 600px) {
  .postImage {
    aspect-ratio: 3/1;
    object-fit: fill;
  }
}