{{ define "content" }}
  {{ if .Manifest }}
    <div
      class="container-lg mt-2"
      hx-trigger="htmx:historyRestore from:body"
      hx-get="{{ .PackageHref }}"
      hx-select="main"
      hx-target="main"
      hx-swap="outerHTML">
      <!-- important: the element with the "sse:refresh-pkg-detail-..." trigger should not be swapped out by such events,
       otherwise during the time of swapping, a following event might not be able to trigger a new request -->
      <div
        class="row p-3 col-lg-10 offset-lg-1"
        hx-trigger="sse:{{ PackageDetailRefreshId .Manifest .Package }}"
        hx-get="{{ .PackageHref }}"
        hx-swap="outerHTML"
        hx-select="#pkg-detail-container-swapped"
        hx-target="#pkg-detail-container-swapped">
        <div id="pkg-detail-container-swapped">
          {{ template "pkg-detail-header" . }}
          <div class="mt-3">
            <h2 class="text-reset">Package Details</h2>

            {{ if  .Manifest.LongDescription }}
              {{ .Manifest.LongDescription | Markdown }}
            {{ else }}
              <i>
                This package has no detailed description yet.
                {{ if PackageManifestUrl .Package }}
                  You can request to change this here:
                  <a class="icon-link text-reset me-2" href="{{ PackageManifestUrl .Package }}" target="_blank">
                    <span class="bi bi-box-arrow-up-right"></span>
                    Glasskube Package Manifest
                  </a>
                {{ end }}
              </i>
            {{ end }}
          </div>

          {{ if ne .Manifest.Dependencies nil }}
            <div class="mt-3">
              <h2 class="text-reset">Package Dependencies</h2>
              <ul>
                {{ range .Manifest.Dependencies }}
                  <li>
                    <a
                      class="text-reset"
                      hx-boost="true"
                      hx-select="main"
                      hx-target="main"
                      hx-swap="outerHTML"
                      href="/clusterpackages/{{ .Name }}"
                      >{{ .Name }}</a
                    >
                    {{ if ne .Version "" }}({{ .Version }}){{ end }}
                  </li>
                {{ end }}
              </ul>
            </div>
          {{ end }}


          <div class="mt-3" id="configuration">
            <h2 class="text-reset">
              {{ if eq .Status nil }}
                Installation
              {{ else }}
                Configuration
              {{ end }}
            </h2>

            <form hx-post="{{ .PackageHref }}" hx-swap="none">
              <div class="mb-2">
                <div>
                  <div class="input-group ">
                    <label for="pkg-install-repository" class="input-group-text bg-transparent"
                      >Repository <span class="text-danger">*</span></label
                    >
                    <select
                      class="form-select"
                      id="pkg-install-repository"
                      name="repositoryName"
                      required
                      {{ if (and .Status (not .AdvancedOptions)) }}disabled{{ end }}
                      hx-select="main"
                      hx-swap="main"
                      hx-target="main"
                      hx-get="{{ .PackageHref }}"
                      hx-include="#pkg-install-version">
                      {{ range .Repositories }}
                        <option value="{{ .Name }}" {{ if eq .Name $.RepositoryName }}selected{{ end }}>
                          {{ .Name }}
                        </option>
                      {{ end }}
                    </select>

                    <label for="pkg-install-version" class="input-group-text bg-transparent"
                      >Version <span class="text-danger">*</span></label
                    >
                    <select
                      class="form-select"
                      id="pkg-install-version"
                      name="version"
                      required
                      {{ if (and .Status (not .AdvancedOptions)) }}disabled{{ end }}
                      hx-select="main"
                      hx-swap="main"
                      hx-target="main"
                      hx-get="{{ .PackageHref }}"
                      hx-include="#pkg-install-repository">
                      {{ with $idx := .PackageIndex }}
                        {{ range $idx.Versions | Reversed }}
                          <option value="{{ .Version }}" {{ if eq .Version $.SelectedVersion }}selected{{ end }}>
                            {{ .Version }}
                            {{ if eq .Version $idx.LatestVersion }}(latest){{ end }}
                          </option>
                        {{ end }}
                      {{ end }}
                    </select>
                  </div>

                  {{ if (and .Status .AdvancedOptions) }}
                    <div class="form-text">
                      <div class="alert alert-warning small p-1 my-1" role="alert">
                        <i class="bi bi-exclamation-triangle-fill me-1"></i><b>Use at your own risk!</b>
                        Changing repository and/or downgrading could lead to data loss and a broken cluster!
                      </div>
                    </div>
                  {{ end }}
                </div>
              </div>

              {{ if .Manifest.Scope.IsNamespaced }}
                <div class="mb-2">
                  <div class="input-group ">
                    <span class="input-group-text bg-transparent">Namespace <span class="text-danger">*</span></span>
                    <input
                      class="form-control"
                      type="text"
                      name="namespace"
                      id="pkg-install-namespace"
                      list="namespaces"
                      autocomplete="off"
                      {{ if .Status }}value="{{ .Package.Namespace }}" disabled{{ end }}
                      required />
                    {{ template "datalist" ForDatalist "namespaces" "" (index $.DatalistOptions "").Namespaces }}


                    <span class="input-group-text bg-transparent">Name <span class="text-danger">*</span></span>
                    <input
                      class="form-control"
                      type="text"
                      name="name"
                      id="pkg-install-name"
                      {{ if .Status }}value="{{ .Package.Name }}" disabled{{ end }}
                      autocomplete="off"
                      required />
                  </div>
                  {{ if not .Status }}
                    <div class="form-text">Namespace will be created if necessary</div>
                  {{ end }}
                </div>
              {{ end }}


              <div class="mt-1 mb-4">
                <div class="form-check ">
                  <input class="form-check-input" type="checkbox" name="enableAutoUpdate" id="enable-auto-update" />
                  <label class="form-check-label ms-1" for="enable-auto-update">Automatically Update Version</label>
                </div>
              </div>

              {{ if ne (len .Manifest.ValueDefinitions) 0 }}
                {{ range $valName, $valDef := .Manifest.ValueDefinitions }}
                  {{ template "pkg-config-input"
                    (ForPkgConfigInput
                    $.Package
                    $.RepositoryName
                    $.SelectedVersion
                    $.Manifest
                    $valName
                    $valDef
                    (index $.ValueErrors $valName)
                    (index $.DatalistOptions $valName)
                    nil)
                  }}
                {{ end }}
              {{ end }}
              {{ if $.ShowConflicts }}
                <div class="alert alert-danger m-0 mb-2" role="alert">
                  <span>Cannot install due to dependency conflicts:</span>
                  <ul class="mb-0 mt-1">
                    {{ range .ValidationResult.Conflicts }}
                      <li>{{ .Actual.Name }} (required: {{ .Required.Version }}, actual: {{ .Actual.Version }})</li>
                    {{ end }}
                  </ul>
                </div>
              {{ else if eq .Status nil }}
                <div class="alert alert-success m-0 mb-2" role="alert">
                  <span>The following packages will be installed:</span>
                  <ul class="mb-0 mt-1">
                    <li>{{ $.Manifest.Name }} ({{ $.SelectedVersion }})</li>
                    {{ range .ValidationResult.Requirements }}
                      <li>{{ .Name }} ({{ .Version }})</li>
                    {{ end }}
                  </ul>
                </div>
              {{ end }}
              {{ if or (not .Status) (and .Package .Package.DeletionTimestamp.IsZero) }}
                <button
                  type="submit"
                  class="btn btn-primary d-flex ms-auto {{ if .ShowConflicts }}disabled{{ end }}"
                  name="dryRun"
                  value="{{ .GitopsMode }}"
                  {{ if .GitopsMode }}
                    data-bs-toggle="modal" data-bs-target="#modal-container"
                  {{ end }}
                  {{ if .ShowConflicts }}disabled{{ end }}>
                  {{ if .GitopsMode }}
                    Show YAML
                  {{ else if eq .Status nil }}
                    Install
                  {{ else }}
                    Save Configuration
                  {{ end }}
                </button>
              {{ end }}
            </form>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}
