{{ define "content" }}
  {{ if .Manifest }}
    <div
      class="container-lg mt-2"
      hx-trigger="htmx:historyRestore from:body"
      hx-get="{{ .PackageHref }}"
      hx-select="main"
      hx-target="main"
      hx-swap="outerHTML">
      <!-- important: the element with the "sse:refresh-pkg-detail-..." trigger should not be swapped out by such events,
       otherwise during the time of swapping, a following event might not be able to trigger a new request -->
      <div
        class="row p-3 col-lg-10 offset-lg-1"
        hx-trigger="sse:{{ PackageDetailRefreshId .Manifest .Package }}"
        hx-get="{{ .PackageHref }}"
        hx-swap="outerHTML"
        hx-select="#pkg-detail-container-swapped"
        hx-target="#pkg-detail-container-swapped">
        <div id="pkg-detail-container-swapped">
          {{ template "pkg-detail-header" . }}
          <div class="mt-3">
            <h2 class="text-reset">Package Details</h2>

            {{ if  .Manifest.LongDescription }}
              {{ .Manifest.LongDescription | Markdown }}
            {{ else }}
              <i>
                This package has no detailed description yet.
                {{ if PackageManifestUrl .Package }}
                  You can request to change this here:
                  <a class="icon-link text-reset me-2" href="{{ PackageManifestUrl .Package }}" target="_blank">
                    <span class="bi bi-box-arrow-up-right"></span>
                    Glasskube Package Manifest
                  </a>
                {{ end }}
              </i>
            {{ end }}
          </div>

          {{ if ne .Manifest.Dependencies nil }}
            <div class="mt-3">
              <h2 class="text-reset">Package Dependencies</h2>
              <ul>
                {{ range .Manifest.Dependencies }}
                  <li>
                    <a
                      class="text-reset"
                      hx-boost="true"
                      hx-select="main"
                      hx-target="main"
                      hx-swap="outerHTML"
                      href="/packages/{{ .Name }}"
                      >{{ .Name }}</a
                    >
                    {{ if ne .Version "" }}({{ .Version }}){{ end }}
                  </li>
                {{ end }}
              </ul>
            </div>
          {{ end }}

          {{ if and (ne .Status nil) (.Package.DeletionTimestamp.IsZero) }}
            <div
              class="visually-hidden"
              id="advanced-options"
              hx-get="{{ .PackageHref }}/configure/advanced"
              hx-swap="outerHTML"
              hx-target="this"
              hx-select="#advanced-options"
              hx-trigger="load[advancedOptions('{{ .CurrentContext }}')]"></div>
          {{ end }}

          {{ if .ShowConfiguration }}
            <div class="mt-3" id="configuration">
              <h2 class="text-reset">
                {{ if eq .Status nil }}
                  Install
                  {{ .Manifest.Name }}
                {{ else if ne .Manifest.ValueDefinitions nil }}
                  Configuration
                {{ end }}
              </h2>

              <div id="configuration-error-container" class="mt-2"></div>

              <form
                hx-post="{{ .PackageHref }}/configure"
                hx-target="#configuration-error-container"
                hx-target-error="#configuration-error-container"
                hx-select="div.alert"
                hx-swap="innerHTML">
                {{ if eq .Status nil }}
                  {{ if gt (len .Repositories) 1 }}
                    <label class="form-label" for="pkg-install-repository">Repository</label>
                    <div class="input-group mb-2">
                      <select
                        class="form-select"
                        id="pkg-install-repository"
                        name="repositoryName"
                        required
                        hx-select="main"
                        hx-swap="main"
                        hx-target="main"
                        hx-get="{{ .PackageHref }}"
                        hx-include="#pkg-install-version">
                        {{ range .Repositories }}
                          <option value="{{ .Name }}" {{ if eq .Name $.RepositoryName }}selected{{ end }}>
                            {{ .Name }}
                          </option>
                        {{ end }}
                      </select>
                    </div>
                  {{ end }}
                  <label class="form-label" for="pkg-install-version">Version</label>
                  <div class="input-group mb-2">
                    <select
                      class="form-select"
                      id="pkg-install-version"
                      name="selectedVersion"
                      required
                      hx-select="main"
                      hx-swap="main"
                      hx-target="main"
                      hx-get="{{ .PackageHref }}"
                      hx-include="#pkg-install-repository">
                      {{ with $idx := .PackageIndex }}
                        {{ range $idx.Versions | Reversed }}
                          <option value="{{ .Version }}" {{ if eq .Version $.SelectedVersion }}selected{{ end }}>
                            {{ .Version }}
                            {{ if eq .Version $idx.LatestVersion }}(latest){{ end }}
                          </option>
                        {{ end }}
                      {{ end }}
                    </select>
                  </div>

                  {{ if .Manifest.Scope.IsNamespaced }}
                    <label class="form-label" for="pkg-install-namespace">Namespace</label>
                    <div class="input-group mb-2">
                      <input
                        class="form-control"
                        type="text"
                        name="requestedNamespace"
                        id="pkg-install-namespace"
                        required />
                    </div>

                    <label class="form-label" for="pkg-install-name">Name</label>
                    <div class="input-group mb-2">
                      <input class="form-control" type="text" name="requestedName" id="pkg-install-name" required />
                    </div>
                  {{ end }}


                  <div class="form-check mt-1 mb-3">
                    <input class="form-check-input" type="checkbox" name="enableAutoUpdate" id="enable-auto-update" />
                    <label class="form-check-label ms-1" for="enable-auto-update">Auto Updates</label>
                  </div>
                {{ end }}

                {{ if ne (len .Manifest.ValueDefinitions) 0 }}
                  {{ if eq .Status nil }}
                    <h4 class="text-reset">Configuration</h4>
                  {{ end }}
                  {{ range $valName, $valDef := .Manifest.ValueDefinitions }}
                    {{ template "pkg-config-input"
                      (ForPkgConfigInput
                      $.Package
                      $.RepositoryName
                      $.SelectedVersion
                      $.Manifest
                      $valName
                      $valDef
                      (index $.ValueErrors $valName)
                      (index $.DatalistOptions $valName)
                      nil)
                    }}
                  {{ end }}
                {{ end }}
                {{ if $.ShowConflicts }}
                  <div class="alert alert-danger m-0 mb-2" role="alert">
                    <span>Cannot install due to dependency conflicts:</span>
                    <ul class="mb-0 mt-1">
                      {{ range .ValidationResult.Conflicts }}
                        <li>{{ .Actual.Name }} (required: {{ .Required.Version }}, actual: {{ .Actual.Version }})</li>
                      {{ end }}
                    </ul>
                  </div>
                {{ else if eq .Status nil }}
                  <div class="alert alert-success m-0 mb-2" role="alert">
                    <span>The following packages will be installed:</span>
                    <ul class="mb-0 mt-1">
                      <li>{{ $.Manifest.Name }} ({{ $.SelectedVersion }})</li>
                      {{ range .ValidationResult.Requirements }}
                        <li>{{ .Name }} ({{ .Version }})</li>
                      {{ end }}
                    </ul>
                  </div>
                {{ end }}
                <button
                  type="submit"
                  class="btn btn-primary d-flex ms-auto {{ if .ShowConflicts }}disabled{{ end }}"
                  {{ if .ShowConflicts }}disabled{{ end }}>
                  {{ if eq .Status nil }}
                    Install
                  {{ else }}
                    Save Configuration
                  {{ end }}
                </button>
              </form>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}
