.sidebar {
  background: var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-card-border-radius);
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 1rem);
}

[data-theme='dark'] {
  .sidebar {
    background: var(--ifm-background-surface-color);
  }
}

@media (max-width: 996px) {
  .sidebar {
    display: none;
  }
}

.ctaContent {
  padding: 3rem 2rem;
  text-align: center;
}

.buttons {
  display: flex;
  gap: var(--ifm-global-spacing);
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}