.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.iconHeight {
  height: 128px;
}

.iconBorder {
  position: relative;
  padding: 2rem;
}

.iconBorder::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px 16px 0 0;
  border: 3px solid transparent;
  background: linear-gradient(to right, var(--glasskube-main-3), var(--glasskube-pink)) border-box;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  border-bottom: none;
}
