:root {
    --blog-latest-background: #f8f8f8;
  }

  html[data-theme="dark"] {
    --blog-latest-background: #292827;
  }

  .latestContainer {
    padding: 5rem 0 6rem 0;
    background: radial-gradient(circle at 10% 10%, var(--glasskube-pink), transparent 90%),
      radial-gradient(circle at 90% 400px, var(--glasskube-main-3), transparent 20%);
  }

  .itemGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2rem;
  }

  .title {
    font-size: 40px;
  }
