{{ define "pkg-update-modal" }}
  <div class="modal-dialog modal-dialog-centered" id="pkg-update-modal">
    <div class="modal-content">
      <form hx-post="{{ .PackageHref }}/update">
        <input type="hidden" name="updateTransactionId" value="{{ .UpdateTransactionId }}" />
        <div class="modal-header">
          <h1 class="modal-title fs-5">Available Updates</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="pkg-update-modal-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <td></td>
                <td><b>Current Version</b></td>
                <td><b>Latest Version</b></td>
              </tr>
            </thead>
            <tbody>
              {{ range .Updates }}
                <tr>
                  <td>
                    <b
                      >{{ if not .Package.IsNamespaceScoped }}
                        {{ .Package.Name }}
                      {{ else }}
                        {{ .Package.Namespace }}/{{ .Package.Name }}
                      {{ end }}</b
                    >
                  </td>
                  <td>{{ .CurrentVersion }}</td>
                  <td>{{ .LatestVersion }}</td>
                </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" data-bs-dismiss="modal" class="btn btn-primary btn-sm">Update</button>
        </div>
      </form>
    </div>
  </div>
{{ end }}
