{{ define "pkg-config-advanced" }}
  <div class="mt-3 border-warning border border-1 rounded-1 p-2 bg-body-secondary" id="advanced-options">
    <h2 class="text-reset">Advanced Options</h2>
    <div class="alert alert-warning" role="alert">
      <i class="bi bi-exclamation-triangle-fill text-warning me-1"></i>Changing the repository or downgrading the
      package version is not recommended and should never be done except in dev/test environments. This could lead to
      data loss and a broken cluster! <b>Use at your own risk!</b>
    </div>

    <form
      hx-post="{{ .SelfHref }}"
      hx-target="#error-container"
      hx-target-error="#error-container"
      hx-select="div.alert"
      hx-swap="innerHTML">
      {{ if gt (len .Repositories) 1 }}
        <label class="form-label" for="advanced-pkg-install-repository">Repository</label>
        <div class="input-group mb-2">
          <select
            class="form-select"
            id="advanced-pkg-install-repository"
            name="repositoryName"
            required
            hx-select="#advanced-options"
            hx-swap="outerHTML"
            hx-target="#advanced-options"
            hx-get="{{ .SelfHref }}"
            hx-include="#advanced-pkg-install-version">
            {{ range .Repositories }}
              <option value="{{ .Name }}" {{ if eq .Name $.RepositoryName }}selected{{ end }}>
                {{ .Name }}
              </option>
            {{ end }}
          </select>
        </div>
      {{ end }}
      <label class="form-label" for="advanced-pkg-install-version">Version</label>
      <div class="input-group mb-2">
        <select
          class="form-select"
          id="advanced-pkg-install-version"
          name="selectedVersion"
          required
          hx-select="#advanced-options"
          hx-swap="outerHTML"
          hx-target="#advanced-options"
          hx-get="{{ .SelfHref }}"
          hx-include="#advanced-pkg-install-repository">
          {{ with $idx := .PackageIndex }}
            {{ range $idx.Versions | Reversed }}
              <option value="{{ .Version }}" {{ if eq .Version $.SelectedVersion }}selected{{ end }}>
                {{ .Version }}
                {{ if eq .Version $idx.LatestVersion }}(latest){{ end }}
              </option>
            {{ end }}
          {{ end }}
        </select>
      </div>

      {{ if $.ShowConflicts }}
        <div class="alert alert-danger m-0 mb-2" role="alert">
          <span>Cannot install due to dependency conflicts:</span>
          <ul class="mb-0 mt-1">
            {{ range .ValidationResult.Conflicts }}
              <li>{{ .Actual.Name }} (required: {{ .Required.Version }}, actual: {{ .Actual.Version }})</li>
            {{ end }}
          </ul>
        </div>
      {{ else }}
        <div class="alert alert-warning m-0 mb-2" role="alert">
          <span>The following packages will be installed:</span>
          <ul class="mb-0 mt-1">
            <li>{{ $.Manifest.Name }} ({{ $.SelectedVersion }} of repository {{ $.RepositoryName }})</li>
            {{ range .ValidationResult.Requirements }}
              <li>{{ .Name }} ({{ .Version }})</li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
      <button
        type="submit"
        class="btn btn-primary d-flex ms-auto {{ if .ShowConflicts }}disabled{{ end }}"
        {{ if .ShowConflicts }}disabled{{ end }}>
        Apply
      </button>
    </form>
  </div>
{{ end }}
