h2.title {
    font-size: 1.2rem;
  }
  
  .title a {
    text-decoration: none !important;
  }
  
  /**
    Blog post title should be smaller on smaller devices
  **/
  @media (max-width: 576px) {
    h2.title {
      font-size: 1rem;
    }
  }