/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroHeading {
  font-size: 3rem;
}

.typewriter {
  font-size: 1.5rem;
  color: var(--glasskube-main-light);
}

