.wrapper {
  text-align: center;
  width: 160px;
  height: 28px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .wrapper {
    margin-right: 36px;
  }
}

@media (min-width: 577px) and (max-width: 996px) {
  .wrapper {
    margin-right: 140px;
  }
}

