.wrapper {
  text-align: center;
  width: 160px;
  height: 28px;
}

.ctaWrapper {
  text-align: center;
  width: 300px;
}

@media (max-width: 576px) {
  .wrapper {
    margin-right: 36px;
  }
}

@media (min-width: 577px) and (max-width: 996px) {
  .wrapper {
    margin-right: 140px;
  }
}

@media (max-width: 1400px) {
  .ctaWrapper {
    display: none;
  }
}
