name: Build Go Project

on:
  push:
  pull_request:
  merge_group:
    types:
      - checks_requested

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Setup Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5
        with:
          go-version: 1.23.x
      - name: Set up node
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
        with:
          node-version: "22.14"
          cache: npm
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: bin
          key: ${{ runner.os }}-${{ hashFiles('Makefile', 'go.mod', 'go.sum') }}
      - name: Install dependencies
        run: npm i
      - run: make all
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: artifacts-${{ runner.os }}-${{ runner.arch }}
          path: dist/
      - name: Check if repository is clean
        run: |
          STATUS="$(git status --porcelain)"
          if [ -z "$STATUS" ]; then
            echo Repository is clean.
          else
            echo "Repository is not clean:
          $STATUS"
            exit 1
          fi
