name: Lint commits

on:
  merge_group:
    types:
      - checks_requested

jobs:
  semantic-message:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          fetch-depth: 0
      - name: Set up node
        uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4.0.4
        with:
          node-version: "20.9"
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Validate PR commits with commitlint
        run: |
          npx commitlint --from "$(git rev-parse origin/main)" --verbose
