name: Schema validation

on:
  push:
    branches:
      - main
    paths:
      - website/static/schemas/**
  pull_request:
    branches:
      - main
    paths:
      - website/static/schemas/**

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4
      - name: Validate Package Manifest Schema
        uses: cardinalby/schema-validator-action@v3
        with:
          file: "test/package-manifest/example.yaml"
          schema: "./website/static/schemas/v1/package-manifest.json"
