<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Glasskube</title>
  <link type="text/css" rel="stylesheet" href="static/css/custom.css"/>
</head>
<!-- TODO clean up custom styling -->
<body style="background-color: rgb(237, 244, 245)">
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="static/assets/glasskube-logo.svg" alt="Logo" height="32" width="32">
      <h1 class="navbar-brand mx-1 my-0">Glasskube</h1>
    </a>

    <ul class="navbar-nav">
      <li class="nav-item mx-1">
        <a class="nav-link active" href="/">
          Packages
        </a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link disabled">Apps</a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link disabled">Settings</a>
      </li>
    </ul>

    <div class="navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="cta cta-sm text-white" href="https://github.com/glasskube/glasskube" target="_blank">
            <span class="bi bi-github"></span>
            Star us
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<form action="/" method="post">
  <div class="container-lg mt-4">
    <div class="row row-cols-3 row-cols-xl-4 g-2">
      {{range .}}
        <div class="col">
          <div class="card h-100 border-primary border-1">
            <div class="card-body p-0 d-flex flex-column">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0 px-1 py-1 align-self-center">
                  {{if eq .IconUrl ""}}
                  <!-- TODO the glasskube logo as fallback is probably not the best idea? -->
                  <img src="static/assets/glasskube-logo.svg" alt="{{ .PackageName}}"  style="max-width:52px; max-height: 52px; height:auto">
                  {{else}}
                  <img src="{{ .IconUrl}}" alt="{{ .PackageName}}" style="max-width:52px; max-height: 52px; height:auto">
                  {{end}}
                </div>
                <div class="flex-grow-1 card-body ps-0 pe-1 py-1">
                  <h6 class="text-dark m-0">{{ .PackageName }}</h6>
                  <span class="lh-sm overflow-hidden" style="
                        font-size: small;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2">
                        {{ .ShortDescription }}
                      </span>
                </div>
              </div>
              {{if eq .Status nil}}
              <button type="submit" name="packageName" value="{{ .PackageName }}" class="btn btn-primary btn-sm fw-medium m-1 mt-auto">Install</button>
              {{else if eq .Status.Status "Pending"}}
              <button type="button" class="btn btn-primary btn-sm fw-medium m-1 mt-auto" disabled>Pending - Refresh to update</button>
              {{else if eq .Status.Status "Failed"}}
              <div class="btn-group fw-medium m-1 mt-auto">
                <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-bs-toggle="dropdown">
                  <span>Installation Failed</span>
                </button>
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item btn btn-sm"
                              onclick="if(!confirm('Do you really want to uninstall {{ .PackageName }}?')) { event.preventDefault() }"
                              type="submit" name="packageName" value="{{ .PackageName }}">Uninstall {{ .PackageName }}</button></li>
                </ul>
              </div>
              {{else}}
              <div class="btn-group fw-medium m-1 mt-auto">
                <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-bs-toggle="dropdown">
                  <i class="bi bi-check-lg"></i>
                  <span>Installed</span>
                </button>
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item btn btn-sm"
                              onclick="if(!confirm('Do you really want to uninstall {{ .PackageName }}?')) { event.preventDefault() }"
                              type="submit" name="packageName" value="{{ .PackageName }}">Uninstall {{ .PackageName }}</button></li>
                </ul>
              </div>
              {{end}}
            </div>
          </div>
        </div>
      {{end}}
    </div>
  </div>
</form>

<script src="static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
